# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea
.idea/
/.idea/
/JavaAdvancedTrain/target/
/mysql/target/
/mysql/.idea/
/mysqlInsert/.idea/
/mysqlInsert/target/
/mysqlMasterSlaveV0/.idea/
/mysqlMasterSlaveV0/target/
/mysqlMasterSlaveV1/.idea/
/mysqlMasterSlaveV1/target/
/mysqlMasterSlaveV1.1/.idea/
/mysqlMasterSlaveV1.1/target/
/mysqlMasterSlaveV2/.idea/
/mysqlMasterSlaveV2/target/
/mysqlShardingSphere-jdbc5.0.0-alpha/.idea/
/mysqlShardingSphere-jdbc5.0.0-alpha/target/
/mysqlShardingSphere-proxy5.0.0-alpha-readwrite-splitting/.idea/
/mysqlShardingSphere-proxy5.0.0-alpha-readwrite-splitting/target/
/mysqlShardingSphere-proxy5.0.0-alpha-shardingAndXa/.idea/
/mysqlShardingSphere-proxy5.0.0-alpha-shardingAndXa/target/
/mysqlShardingSphere-proxy5.0.0-alpha-shardingAndXa/mysql.iml
/mysqlShardingSphere-proxy5.0.0-alpha-sharding/.idea/
/mysqlShardingSphere-proxy5.0.0-alpha-sharding/target/
/mysqlShardingSphere-jdbc5.0.0-beta-xa/.idea/
/mysqlShardingSphere-jdbc5.0.0-beta-xa/target/