<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nydia.mybatis.mapper.UserMapper">

  <resultMap id="resultMap" type="com.nydia.mybatis.entity.User">
    <result property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
  </resultMap>

  <resultMap id="associationUserMap" type="com.nydia.mybatis.entity.User">
    <constructor>
      <idArg column="id" javaType="int"/>
    </constructor>
    <result property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"  javaType="java.lang.String" jdbcType="VARCHAR" typeHandler="com.nydia.mybatis.typehandle.MyPasswordTypeHandle"/>
    <association property="parent" javaType="com.nydia.mybatis.entity.User" select="com.nydia.mybatis.mapper.UserMapper.selectById" column="id" fetchType="lazy"/>
    <association property="parentMap" javaType="java.util.Map" select="com.nydia.mybatis.mapper.UserMapper.selectByIdForMap" column="id" fetchType="lazy"/>
    <association property="parentList" javaType="java.util.List" select="com.nydia.mybatis.mapper.UserMapper.selectById" column="id" fetchType="lazy"/>
    <association property="parentArrayList" javaType="java.util.ArrayList" select="com.nydia.mybatis.mapper.UserMapper.selectById" column="id" fetchType="lazy"/>
    <association property="parentSet" javaType="java.util.Set" select="com.nydia.mybatis.mapper.UserMapper.selectById" column="id" fetchType="lazy"/>
    <!-- 分类选择 -->
    <discriminator javaType="string" column="username">
      <case value="name111" resultMap="resultMap1"></case>
      <case value="name222" resultMap="resultMap2"></case>
    </discriminator>
  </resultMap>
  <resultMap id="resultMap1" type="com.nydia.mybatis.entity.User">
  </resultMap>
  <resultMap id="resultMap2" type="com.nydia.mybatis.entity.User">
  </resultMap>

  <resultMap id="resultSetMap" type="com.nydia.mybatis.entity.User">
    <result property="id" column="id"/>
    <result property="username" column="username"/>
  </resultMap>

  <resultMap id="resultMapForAlias" type="userAlias">
    <result property="id" column="id"/>
    <result property="username" column="username"/>
  </resultMap>

  <select id="selectById" parameterType="java.lang.Integer" resultType="com.nydia.mybatis.entity.User">
    select id,username,password
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="java.lang.String" resultType="com.nydia.mybatis.entity.User">
    select id,username,password
    from tbl_user
    where username = #{username}
  </select>

  <select id="selectByIdForMap" parameterType="java.lang.Integer" resultType="java.util.Map">
    select id,username,password
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 使用自增主键 -->
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.nydia.mybatis.entity.User">
    insert into tbl_user(username,password) values (#{username},#{password})
  </insert>

  <insert id="insert2" parameterType="com.nydia.mybatis.entity.User">
    <selectKey order="AFTER" keyProperty="id" resultType="INTEGER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tbl_user(id,username,password) values (#{id}, #{username},#{password})
  </insert>

  <insert id="insert3" parameterType="com.nydia.mybatis.entity.User">
    insert into tbl_user(username,password,parent_id) values (#{username},#{password},#{parent.id})
  </insert>

  <select id="lasyLoadQuery" parameterType="java.lang.Integer" resultMap="associationUserMap">
    select id,username,password,parent_id
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByIdForResultSet" parameterType="java.lang.Integer" resultMap="resultSetMap">
    select id,username,password
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByNameForResultSet" parameterType="java.lang.String" resultMap="resultSetMap">
    select id,username,password
    from tbl_user
    where username = #{username}
  </select>

  <select id="selectByIdForAlias" parameterType="java.lang.Integer" resultMap="resultMapForAlias">
    select id,username,password
    from tbl_user
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByNameForCursor" parameterType="java.lang.String" resultMap="resultSetMap">
    select id,username,password
    from tbl_user
    where username = #{username}
  </select>

  <select id="selectByNameForMap" parameterType="java.lang.String" resultMap="resultMap">
    select id,username,password
    from tbl_user
    where username = #{username}
  </select>

</mapper>