<?xml version="1.0" encoding="UTF-8"?>
<!-- /opt/appl/tomcat/webapps/ROOT/WEB-INF/classes -->
<!-- For assistance related to logback-translator or config -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!--
      app            详细的业务日志，包括各个级别（info、debug、sql可配置）、sql日志、错误日志的打印，是统一的汇总日志目录
      access         打印用于运维监控的日志
      interface      接口日志打印，该服务本身被请求的接口
      error          错误日志，包括业务错误日志、系统错误日志，是所有错误日志的汇总（这些错误日志在app中有一份）
      remote         第三方接口日志，调用第三方接口服务（dubbo、webservice、restful）
      flume          同步日志到大数据
      druid          druid监控、线程池日志
      other           其他日志
 -->
<configuration scan="true" scanPeriod="10 seconds" debug="false">
	<substitutionProperty name="log.base" value="../logs/" />
	<substitutionProperty name="log.app" value="${log.base}/app" />
	<substitutionProperty name="log.access" value="${log.base}/access" />
	<substitutionProperty name="log.interface" value="${log.base}/interface" />
	<substitutionProperty name="log.error" value="${log.base}/error" />
	<substitutionProperty name="log.remote" value="${log.base}/remote" />
	<substitutionProperty name="log.druid" value="${log.base}/druid" />
	<substitutionProperty name="log.other" value="${log.base}/other" />

	<property name="pattern"
			  value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%t] [%level] [%logger{80}] [%X{transactionId}] [%X{spanId}] [%X{parentId}] [%X{serviceId}] [%X{protocol}] [%X{logType}] - %m%n" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!--<Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger Line:%-3L %X{InterfaceTag} %X{transactionId} %X{ServerId} %X{Protocol} %X{LogType}- %msg%n</Pattern>-->
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger Line:%-3L %X{InterfaceTag} %X{ServerId} %X{Protocol} %X{LogType} [%X{traceId:-},%X{spanId:-}]] - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="app" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.app}/app.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.app}/app.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="other" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.other}/other.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.other}/other.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="interface" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.interface}/interface.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.interface}/interface.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="access" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.access}/access.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.access}/access.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.error}/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.error}/error.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="remote" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.remote}/remote.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.remote}/remote.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${pattern}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="druid"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<File>${log.druid}/druid.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${log.druid}/druid.log.%d{yyyy-MM-dd-HH}.%i
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>5MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss:SSS}] [%t] %level %X{transactionId} - %msg%n</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="org" level="INFO" additivity="true">
		<appender-ref ref="other" /> 
	</logger>
	<logger name="springfox" level="INFO" additivity="true">
		<appender-ref ref="other" />
	</logger>
	<logger name="com" level="INFO" additivity="true">
		<appender-ref ref="other" />
	</logger>
	<logger name="other" level="INFO" additivity="true">
		<appender-ref ref="other" />
	</logger>
	<logger name="interface" level="INFO" additivity="true">
		<appender-ref ref="interface" />
	</logger>
	<logger name="access" level="INFO" additivity="false">
		<appender-ref ref="access" />
	</logger>
	<logger name="app" level="INFO" additivity="false">
		<appender-ref ref="app" />
	</logger>
    <!--业务日志-->
	<logger name="error" level="ERROR" additivity="true">
		<appender-ref ref="app" />
		<appender-ref ref="error" />
	</logger>
	<logger name="remote"  level="INFO" additivity="true">
		<appender-ref ref="remote" />
	</logger>
	<logger name="mybatis_com.ips.applet.mapper" level="DEBUG" additivity="true">
		<appender-ref ref="app" />
	</logger>

	<logger name="druid" level="INFO" additivity="true">
		<appender-ref ref="druid" />
	</logger>

	<logger name="com.ips.applet" level="ERROR" additivity="true">
		<appender-ref ref="error" />
	</logger>
	<logger name="com.ips.applet" level="INFO" additivity="true">
		<appender-ref ref="app" />
	</logger>

    <logger name="httpclient.wire" level="ERROR" additivity="true">
        <appender-ref ref="app"/>
		<appender-ref ref="error"/>
    </logger>
	<root level="DEBUG">
		<appender-ref ref="stdout" />
	</root>

</configuration>